@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Changa+One:ital@0;1&family=Mountains+of+Christmas:wght@400;700&display=swap');


/*Typical Device Breakpoints
Pequenas telas : até 600px
Celular: de 600px atpe 768px
Tablet: 768px até 992px
Desktop:992px até 1200px
Grandes telas: acima de 1200px
*/

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/* MOBILE */


body{
   background: url(wallpaperflare.com_wallpaper.jpg) #A50B25 fixed ;
}

/* TITULO  */
body > h1 {
   text-align: center;
   font-family: 'Mountains of Christmas', cursive;
   color: gold;
   font-size: 3em;
   padding: 20px 20px 10px 20px;
   text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.726);
   
}


 /* MAIN */
main{
    background-color: gold;
    padding: 0px 0px 400px 0px;
    width: 480px;
    height: 500px;
    margin: auto;
    margin-bottom: 20px;
    text-align: left;
    border-radius: 11px;
    box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.377);
    font-size: 20px; 
   
}

/* SEÇÃO DE DIGITAÇÃO  */
#menu{
   display: flex;
   flex-flow: column;
   align-items: center;
   align-content: center;
   padding: 20px;
   border-radius: 10px 10px 0px 0px;
   background-color:gold;
   font-family: 'Changa One', cursive;
 }

 input{
    padding: 5px;
    margin: 5px;
 }

 p#nomebot{
    background-color: #A50B25;
    text-align: center;
    padding: 5px 5px 5px 5px;
    border-radius: 10px;
    margin: auto;
    margin-bottom: 10px;
    width: fit-content;
 }

 div.contadorp{
   display: flex;
 }

 p#mainfooter{
   margin: 5px;
 }

 /* BOTÃO CONCLUIDO */
 #proxeta{
   font-size: 16px;
   text-align: center;
 }

 .bota{
    padding: 5px;
    background-color: green;
    border-radius: 10px;
    color: white;
    border: 0px;
    width: 100px;
    box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.452);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 0.5;
    text-decoration: none;
 }

 .bota:hover{
    cursor: pointer;
    background-color: rgb(4, 173, 4);
 }

 /* Lista */
section#sectlist{
   display: flex ;
   justify-content: center;
   margin: auto;
   font-family: 'Changa One', cursive;
   height: 300px;
}

ul{
   padding: 20px 0px 20px 20px;
   height: 120%;
   width: 90%;
   font-size: 1.13em;
   font-weight: lighter;
   list-style-position: inside;
   display: flex;
   flex-flow: column wrap;
   overflow: scroll;
   align-items: center;
   list-style-image: url(card_giftcard_black_24dp.svg);
   background-color: white;
   box-shadow: 0px 1px 2px black;
 }
 
 li{
   padding: 6px 4px;
   text-decoration: underline;
 }

  /* Celulares com telas muito Pequenas */
 @media screen and (max-width:374px ) {
   ul{
      height: 105%;
   }  
 }

/* Tablet */

@media screen  and  (min-width: 768px){

   body > h1 {
      font-size: 3.7em;
   }
   main{
      width: 500px;
   }
   
}

/* DESKTOP */

@media screen and (min-width: 992px){
   body > h1 {
      font-size: 4.5em;
   }

   main {
      width: 600px;
   }
}

